# maintained by modulesync
code/pkg/
code/Gemfile.lock
code/vendor/
code/spec/fixtures/
code/.vagrant/
code/.bundle/
code/coverage/
code/log/
code/.idea/
code/*.iml
code/.*.sw
ci/.bundle
ci/Gemfile.lock
*.swp
.project
.pydevproject
.pyproject
.settings
.metadata
